[submodule "account-analytic"]
	path = account-analytic
	url = https://github.com/OCA/account-analytic.git
	branch = 19.0
[submodule "account-budgeting"]
	path = account-budgeting
	url = https://github.com/OCA/account-budgeting.git
	branch = 19.0
[submodule "account-closing"]
	path = account-closing
	url = https://github.com/OCA/account-closing.git
	branch = 19.0
[submodule "account-consolidation"]
	path = account-consolidation
	url = https://github.com/OCA/account-consolidation.git
	branch = 19.0
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 19.0
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 19.0
[submodule "account-fiscal-rule"]
	path = account-fiscal-rule
	url = https://github.com/OCA/account-fiscal-rule.git
	branch = 19.0
[submodule "account-invoice-reporting"]
	path = account-invoice-reporting
	url = https://github.com/OCA/account-invoice-reporting.git
	branch = 19.0
[submodule "account-invoicing"]
	path = account-invoicing
	url = https://github.com/OCA/account-invoicing.git
	branch = 19.0
[submodule "account-payment"]
	path = account-payment
	url = https://github.com/OCA/account-payment.git
	branch = 19.0
[submodule "account-reconcile"]
	path = account-reconcile
	url = https://github.com/OCA/account-reconcile.git
	branch = 19.0
[submodule "agreement"]
	path = agreement
	url = https://github.com/OCA/agreement.git
	branch = 19.0
[submodule "ai"]
	path = ai
	url = https://github.com/OCA/ai.git
	branch = 19.0
[submodule "apps-store"]
	path = apps-store
	url = https://github.com/OCA/apps-store.git
	branch = 19.0
[submodule "automation"]
	path = automation
	url = https://github.com/OCA/automation.git
	branch = 19.0
[submodule "bank-payment"]
	path = bank-payment
	url = https://github.com/OCA/bank-payment.git
	branch = 19.0
[submodule "bank-payment-alternative"]
	path = bank-payment-alternative
	url = https://github.com/OCA/bank-payment-alternative.git
	branch = 19.0
[submodule "bank-statement-import"]
	path = bank-statement-import
	url = https://github.com/OCA/bank-statement-import.git
	branch = 19.0
[submodule "barcode-interface"]
	path = barcode-interface
	url = https://github.com/OCA/barcode-interface.git
	branch = 19.0
[submodule "brand"]
	path = brand
	url = https://github.com/OCA/brand.git
	branch = 19.0
[submodule "business-requirement"]
	path = business-requirement
	url = https://github.com/OCA/business-requirement.git
	branch = 19.0
[submodule "calendar"]
	path = calendar
	url = https://github.com/OCA/calendar.git
	branch = 19.0
[submodule "cim"]
	path = cim
	url = https://github.com/OCA/cim.git
	branch = 19.0
[submodule "commission"]
	path = commission
	url = https://github.com/OCA/commission.git
	branch = 19.0
[submodule "community-data-files"]
	path = community-data-files
	url = https://github.com/OCA/community-data-files.git
	branch = 19.0
[submodule "connector"]
	path = connector
	url = https://github.com/OCA/connector.git
	branch = 19.0
[submodule "connector-accountedge"]
	path = connector-accountedge
	url = https://github.com/OCA/connector-accountedge.git
	branch = 19.0
[submodule "connector-cmis"]
	path = connector-cmis
	url = https://github.com/OCA/connector-cmis.git
	branch = 19.0
[submodule "connector-ecommerce"]
	path = connector-ecommerce
	url = https://github.com/OCA/connector-ecommerce.git
	branch = 19.0
[submodule "connector-infor"]
	path = connector-infor
	url = https://github.com/OCA/connector-infor.git
	branch = 19.0
[submodule "connector-interfaces"]
	path = connector-interfaces
	url = https://github.com/OCA/connector-interfaces.git
	branch = 19.0
[submodule "connector-jira"]
	path = connector-jira
	url = https://github.com/OCA/connector-jira.git
	branch = 19.0
[submodule "connector-lengow"]
	path = connector-lengow
	url = https://github.com/OCA/connector-lengow.git
	branch = 19.0
[submodule "connector-lims"]
	path = connector-lims
	url = https://github.com/OCA/connector-lims.git
	branch = 19.0
[submodule "connector-magento"]
	path = connector-magento
	url = https://github.com/OCA/connector-magento.git
	branch = 19.0
[submodule "connector-mautic"]
	path = connector-mautic
	url = https://github.com/OCA/connector-mautic.git
	branch = 19.0
[submodule "connector-odoo2odoo"]
	path = connector-odoo2odoo
	url = https://github.com/OCA/connector-odoo2odoo.git
	branch = 19.0
[submodule "connector-prestashop"]
	path = connector-prestashop
	url = https://github.com/OCA/connector-prestashop.git
	branch = 19.0
[submodule "connector-redmine"]
	path = connector-redmine
	url = https://github.com/OCA/connector-redmine.git
	branch = 19.0
[submodule "connector-sage"]
	path = connector-sage
	url = https://github.com/OCA/connector-sage.git
	branch = 19.0
[submodule "connector-salesforce"]
	path = connector-salesforce
	url = https://github.com/OCA/connector-salesforce.git
	branch = 19.0
[submodule "connector-shopify"]
	path = connector-shopify
	url = https://github.com/OCA/connector-shopify.git
	branch = 19.0
[submodule "connector-spscommerce"]
	path = connector-spscommerce
	url = https://github.com/OCA/connector-spscommerce.git
	branch = 19.0
[submodule "connector-telephony"]
	path = connector-telephony
	url = https://github.com/OCA/connector-telephony.git
	branch = 19.0
[submodule "connector-woocommerce"]
	path = connector-woocommerce
	url = https://github.com/OCA/connector-woocommerce.git
	branch = 19.0
[submodule "contract"]
	path = contract
	url = https://github.com/OCA/contract.git
	branch = 19.0
[submodule "cooperative"]
	path = cooperative
	url = https://github.com/OCA/cooperative.git
	branch = 19.0
[submodule "credit-control"]
	path = credit-control
	url = https://github.com/OCA/credit-control.git
	branch = 19.0
[submodule "crm"]
	path = crm
	url = https://github.com/OCA/crm.git
	branch = 19.0
[submodule "crowdfunding"]
	path = crowdfunding
	url = https://github.com/OCA/crowdfunding.git
	branch = 19.0
[submodule "currency"]
	path = currency
	url = https://github.com/OCA/currency.git
	branch = 19.0
[submodule "data-protection"]
	path = data-protection
	url = https://github.com/OCA/data-protection.git
	branch = 19.0
[submodule "ddmrp"]
	path = ddmrp
	url = https://github.com/OCA/ddmrp.git
	branch = 19.0
[submodule "delivery-carrier"]
	path = delivery-carrier
	url = https://github.com/OCA/delivery-carrier.git
	branch = 19.0
[submodule "department"]
	path = department
	url = https://github.com/OCA/department.git
	branch = 19.0
[submodule "dms"]
	path = dms
	url = https://github.com/OCA/dms.git
	branch = 19.0
[submodule "donation"]
	path = donation
	url = https://github.com/OCA/donation.git
	branch = 19.0
[submodule "dotnet"]
	path = dotnet
	url = https://github.com/OCA/dotnet.git
	branch = 19.0
[submodule "e-commerce"]
	path = e-commerce
	url = https://github.com/OCA/e-commerce.git
	branch = 19.0
[submodule "edi"]
	path = edi
	url = https://github.com/OCA/edi.git
	branch = 19.0
[submodule "edi-ediversa"]
	path = edi-ediversa
	url = https://github.com/OCA/edi-ediversa.git
	branch = 19.0
[submodule "edi-framework"]
	path = edi-framework
	url = https://github.com/OCA/edi-framework.git
	branch = 19.0
[submodule "edi-voxel"]
	path = edi-voxel
	url = https://github.com/OCA/edi-voxel.git
	branch = 19.0
[submodule "e-learning"]
	path = e-learning
	url = https://github.com/OCA/e-learning.git
	branch = 19.0
[submodule "event"]
	path = event
	url = https://github.com/OCA/event.git
	branch = 19.0
[submodule "field-service"]
	path = field-service
	url = https://github.com/OCA/field-service.git
	branch = 19.0
[submodule "fleet"]
	path = fleet
	url = https://github.com/OCA/fleet.git
	branch = 19.0
[submodule "geospatial"]
	path = geospatial
	url = https://github.com/OCA/geospatial.git
	branch = 19.0
[submodule "helpdesk"]
	path = helpdesk
	url = https://github.com/OCA/helpdesk.git
	branch = 19.0
[submodule "hr"]
	path = hr
	url = https://github.com/OCA/hr.git
	branch = 19.0
[submodule "hr-attendance"]
	path = hr-attendance
	url = https://github.com/OCA/hr-attendance.git
	branch = 19.0
[submodule "hr-expense"]
	path = hr-expense
	url = https://github.com/OCA/hr-expense.git
	branch = 19.0
[submodule "hr-holidays"]
	path = hr-holidays
	url = https://github.com/OCA/hr-holidays.git
	branch = 19.0
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/OCA/infrastructure.git
	branch = 19.0
[submodule "interface-git"]
	path = interface-git
	url = https://github.com/OCA/interface-git.git
	branch = 19.0
[submodule "intrastat-extrastat"]
	path = intrastat-extrastat
	url = https://github.com/OCA/intrastat-extrastat.git
	branch = 19.0
[submodule "iot"]
	path = iot
	url = https://github.com/OCA/iot.git
	branch = 19.0
[submodule "knowledge"]
	path = knowledge
	url = https://github.com/OCA/knowledge.git
	branch = 19.0
[submodule "l10n-spain"]
	path = l10n-spain
	url = https://github.com/OCA/l10n-spain.git
	branch = 19.0
[submodule "mail"]
	path = mail
	url = https://github.com/OCA/mail.git
	branch = 19.0
[submodule "maintenance"]
	path = maintenance
	url = https://github.com/OCA/maintenance.git
	branch = 19.0
[submodule "management-system"]
	path = management-system
	url = https://github.com/OCA/management-system.git
	branch = 19.0
[submodule "manufacture"]
	path = manufacture
	url = https://github.com/OCA/manufacture.git
	branch = 19.0
[submodule "manufacture-reporting"]
	path = manufacture-reporting
	url = https://github.com/OCA/manufacture-reporting.git
	branch = 19.0
[submodule "margin-analysis"]
	path = margin-analysis
	url = https://github.com/OCA/margin-analysis.git
	branch = 19.0
[submodule "mass-mailing"]
	path = mass-mailing
	url = https://github.com/OCA/mass-mailing.git
	branch = 19.0
[submodule "mis-builder"]
	path = mis-builder
	url = https://github.com/OCA/mis-builder.git
	branch = 19.0
[submodule "mis-builder-contrib"]
	path = mis-builder-contrib
	url = https://github.com/OCA/mis-builder-contrib.git
	branch = 19.0
[submodule "module-composition-analysis"]
	path = module-composition-analysis
	url = https://github.com/OCA/module-composition-analysis.git
	branch = 19.0
[submodule "multi-company"]
	path = multi-company
	url = https://github.com/OCA/multi-company.git
	branch = 19.0
[submodule "OCB"]
	path = OCB
	url = https://github.com/OCA/OCB.git
	branch = 19.0
[submodule "odoo-pim"]
	path = odoo-pim
	url = https://github.com/OCA/odoo-pim.git
	branch = 19.0
[submodule "OpenUpgrade"]
	path = OpenUpgrade
	url = https://github.com/OCA/OpenUpgrade.git
	branch = 19.0
[submodule "operating-unit"]
	path = operating-unit
	url = https://github.com/OCA/operating-unit.git
	branch = 19.0
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/OCA/partner-contact.git
	branch = 19.0
[submodule "payroll"]
	path = payroll
	url = https://github.com/OCA/payroll.git
	branch = 19.0
[submodule "pms"]
	path = pms
	url = https://github.com/OCA/pms.git
	branch = 19.0
[submodule "pos"]
	path = pos
	url = https://github.com/OCA/pos.git
	branch = 19.0
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/OCA/product-attribute.git
	branch = 19.0
[submodule "product-configurator"]
	path = product-configurator
	url = https://github.com/OCA/product-configurator.git
	branch = 19.0
[submodule "product-kitting"]
	path = product-kitting
	url = https://github.com/OCA/product-kitting.git
	branch = 19.0
[submodule "product-pack"]
	path = product-pack
	url = https://github.com/OCA/product-pack.git
	branch = 19.0
[submodule "product-variant"]
	path = product-variant
	url = https://github.com/OCA/product-variant.git
	branch = 19.0
[submodule "program"]
	path = program
	url = https://github.com/OCA/program.git
	branch = 19.0
[submodule "project"]
	path = project
	url = https://github.com/OCA/project.git
	branch = 19.0
[submodule "project-agile"]
	path = project-agile
	url = https://github.com/OCA/project-agile.git
	branch = 19.0
[submodule "project-reporting"]
	path = project-reporting
	url = https://github.com/OCA/project-reporting.git
	branch = 19.0
[submodule "purchase-reporting"]
	path = purchase-reporting
	url = https://github.com/OCA/purchase-reporting.git
	branch = 19.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 19.0
[submodule "pwa-builder"]
	path = pwa-builder
	url = https://github.com/OCA/pwa-builder.git
	branch = 19.0
[submodule "queue"]
	path = queue
	url = https://github.com/OCA/queue.git
	branch = 19.0
[submodule "repair"]
	path = repair
	url = https://github.com/OCA/repair.git
	branch = 19.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 19.0
[submodule "report-print-send"]
	path = report-print-send
	url = https://github.com/OCA/report-print-send.git
	branch = 19.0
[submodule "resource"]
	path = resource
	url = https://github.com/OCA/resource.git
	branch = 19.0
[submodule "rest-api"]
	path = rest-api
	url = https://github.com/OCA/rest-api.git
	branch = 19.0
[submodule "rest-framework"]
	path = rest-framework
	url = https://github.com/OCA/rest-framework.git
	branch = 19.0
[submodule "rma"]
	path = rma
	url = https://github.com/OCA/rma.git
	branch = 19.0
[submodule "role-policy"]
	path = role-policy
	url = https://github.com/OCA/role-policy.git
	branch = 19.0
[submodule "route-planning"]
	path = route-planning
	url = https://github.com/OCA/route-planning.git
	branch = 19.0
[submodule "sale-blanket"]
	path = sale-blanket
	url = https://github.com/OCA/sale-blanket.git
	branch = 19.0
[submodule "sale-channel"]
	path = sale-channel
	url = https://github.com/OCA/sale-channel.git
	branch = 19.0
[submodule "sale-financial"]
	path = sale-financial
	url = https://github.com/OCA/sale-financial.git
	branch = 19.0
[submodule "sale-prebook"]
	path = sale-prebook
	url = https://github.com/OCA/sale-prebook.git
	branch = 19.0
[submodule "sale-promotion"]
	path = sale-promotion
	url = https://github.com/OCA/sale-promotion.git
	branch = 19.0
[submodule "sale-reporting"]
	path = sale-reporting
	url = https://github.com/OCA/sale-reporting.git
	branch = 19.0
[submodule "sale-workflow"]
	path = sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 19.0
[submodule "search-engine"]
	path = search-engine
	url = https://github.com/OCA/search-engine.git
	branch = 19.0
[submodule "server-auth"]
	path = server-auth
	url = https://github.com/OCA/server-auth.git
	branch = 19.0
[submodule "server-backend"]
	path = server-backend
	url = https://github.com/OCA/server-backend.git
	branch = 19.0
[submodule "server-brand"]
	path = server-brand
	url = https://github.com/OCA/server-brand.git
	branch = 19.0
[submodule "server-env"]
	path = server-env
	url = https://github.com/OCA/server-env.git
	branch = 19.0
[submodule "server-tools"]
	path = server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 19.0
[submodule "server-ux"]
	path = server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 19.0
[submodule "shift-planning"]
	path = shift-planning
	url = https://github.com/OCA/shift-planning.git
	branch = 19.0
[submodule "shopfloor-app"]
	path = shopfloor-app
	url = https://github.com/OCA/shopfloor-app.git
	branch = 19.0
[submodule "shoppingfeed"]
	path = shoppingfeed
	url = https://github.com/OCA/shoppingfeed.git
	branch = 19.0
[submodule "sign"]
	path = sign
	url = https://github.com/OCA/sign.git
	branch = 19.0
[submodule "social"]
	path = social
	url = https://github.com/OCA/social.git
	branch = 19.0
[submodule "spreadsheet"]
	path = spreadsheet
	url = https://github.com/OCA/spreadsheet.git
	branch = 19.0
[submodule "stock-logistics-availability"]
	path = stock-logistics-availability
	url = https://github.com/OCA/stock-logistics-availability.git
	branch = 19.0
[submodule "stock-logistics-barcode"]
	path = stock-logistics-barcode
	url = https://github.com/OCA/stock-logistics-barcode.git
	branch = 19.0
[submodule "stock-logistics-interfaces"]
	path = stock-logistics-interfaces
	url = https://github.com/OCA/stock-logistics-interfaces.git
	branch = 19.0
[submodule "stock-logistics-orderpoint"]
	path = stock-logistics-orderpoint
	url = https://github.com/OCA/stock-logistics-orderpoint.git
	branch = 19.0
[submodule "stock-logistics-putaway"]
	path = stock-logistics-putaway
	url = https://github.com/OCA/stock-logistics-putaway.git
	branch = 19.0
[submodule "stock-logistics-release-channel"]
	path = stock-logistics-release-channel
	url = https://github.com/OCA/stock-logistics-release-channel.git
	branch = 19.0
[submodule "stock-logistics-reporting"]
	path = stock-logistics-reporting
	url = https://github.com/OCA/stock-logistics-reporting.git
	branch = 19.0
[submodule "stock-logistics-request"]
	path = stock-logistics-request
	url = https://github.com/OCA/stock-logistics-request.git
	branch = 19.0
[submodule "stock-logistics-reservation"]
	path = stock-logistics-reservation
	url = https://github.com/OCA/stock-logistics-reservation.git
	branch = 19.0
[submodule "stock-logistics-shopfloor"]
	path = stock-logistics-shopfloor
	url = https://github.com/OCA/stock-logistics-shopfloor.git
	branch = 19.0
[submodule "stock-logistics-tracking"]
	path = stock-logistics-tracking
	url = https://github.com/OCA/stock-logistics-tracking.git
	branch = 19.0
[submodule "stock-logistics-transport"]
	path = stock-logistics-transport
	url = https://github.com/OCA/stock-logistics-transport.git
	branch = 19.0
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
	branch = 19.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow.git
	branch = 19.0
[submodule "stock-weighing"]
	path = stock-weighing
	url = https://github.com/OCA/stock-weighing.git
	branch = 19.0
[submodule "storage"]
	path = storage
	url = https://github.com/OCA/storage.git
	branch = 19.0
[submodule "survey"]
	path = survey
	url = https://github.com/OCA/survey.git
	branch = 19.0
[submodule "tier-validation"]
	path = tier-validation
	url = https://github.com/OCA/tier-validation.git
	branch = 19.0
[submodule "timesheet"]
	path = timesheet
	url = https://github.com/OCA/timesheet.git
	branch = 19.0
[submodule "version-control-platform"]
	path = version-control-platform
	url = https://github.com/OCA/version-control-platform.git
	branch = 19.0
[submodule "wallet"]
	path = wallet
	url = https://github.com/OCA/wallet.git
	branch = 19.0
[submodule "web"]
	path = web
	url = https://github.com/OCA/web.git
	branch = 19.0
[submodule "web-api"]
	path = web-api
	url = https://github.com/OCA/web-api.git
	branch = 19.0
[submodule "web-api-contrib"]
	path = web-api-contrib
	url = https://github.com/OCA/web-api-contrib.git
	branch = 19.0
[submodule "webhook"]
	path = webhook
	url = https://github.com/OCA/webhook.git
	branch = 19.0
[submodule "webkit-tools"]
	path = webkit-tools
	url = https://github.com/OCA/webkit-tools.git
	branch = 19.0
[submodule "website"]
	path = website
	url = https://github.com/OCA/website.git
	branch = 19.0
[submodule "website-cms"]
	path = website-cms
	url = https://github.com/OCA/website-cms.git
	branch = 19.0
[submodule "website-themes"]
	path = website-themes
	url = https://github.com/OCA/website-themes.git
	branch = 19.0
[submodule "wms"]
	path = wms
	url = https://github.com/OCA/wms.git
	branch = 19.0
